<div class="col-sm-8">
    <h2>Conatct Manager</h2>
    <div class="list-group">
        <a href="#" 
           class="list-group-item" 
           *ngFor="let contact of contacts; index as idx"
           (click)="onSelectContact(idx)"
           [class.active]="contact === selectedContact">
            <h4>
                {{contact.firstName}} {{contact.lastName}}
                <small>{{contact.created_date | date:format:'dd.MM.yyyy'}}</small>
            </h4>
            <p>
                <span class="badge">{{contact.phone}}</span>
                <span class="badge">{{contact.email}}</span> 
            </p>
        </a>
    </div>
</div>
<app-contact-details [contact]="selectedContact"></app-contact-details>